<form class="{{cssClass}}" autocomplete="off">

    <!-- HEADER -->
    <header class="sheet-header">
        <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name" />
        </h1>
    </header>

    <section class="sheet-body">
        <!-- ATTRIBUTES -->
        <div class="attributes">
          <ol class="attributes-list">
              {{#each data.profile as |attribute id|}}
              <li class="attribute" data-ability="{{id}}">
                <div class="attribute-name">
                  <h4 >{{attribute.label}}</h4>
                </div>
                <div class="attribute-info">
                  <span class="attribute-score" title="Ability Score">
                      <input name="data.profile.{{id}}.value" type="text" value="{{attribute.value}}" data-dtype="Number" placeholder="0" onchange="onAttributeChange(event)" />
                  </span>
                  <span class="attribute-mask">{{attribute.mask}}</span>
                </div>
              </li>
              {{/each}}
              <input hidden="" name="data.profile.w.max" type="text" value="{{data.profile.w.max}}" data-dtype="Number"
                          placeholder="0" />
          </ol>
        </div>
    </section>

    <!-- SIDEBAR -->
    <section class="sheet-sidebar">
        <img class="sheet-profile" src="{{actor.img}}" title="{{actor.name}}" height="220" width="220" data-edit="img" />
        <ol class="sidebar-item">
            <li class="points" data-detail="total_points">
              <div class="sidebar-divider-1">
                <h4 class="points-label">Model Points</h4>
              </div>
              <div class="sidebar-divider-2">
                <input name="data.details.total_points" class="line-value" type="text" title="Points" value="{{data.details.total_points}}" data-dtype="Number"/>
              </div>
            </li>
            <li class="points" data-detail="total_power_level">
              <div class="sidebar-divider-1">
                <h4 class="power-level-label">Base Size (mm)</h4>
              </div>
              <div class="sidebar-divider-2">
                <input name="data.details.base_size" class="line-value" type="text" title="Base Size" value="{{data.details.base_size}}" data-dtype="Number"/>
              </div>
            </li>
        </ol>
        <ol class="sidebar-item">
          <li class="unit-keywords--faction_main">
              <label for="data.details.detachment_faction">
                <h4 class="points-label">Main Faction</h4>
              </label>
              <select id="data.keywords.faction_main" name="data.keywords.faction_main" data-dtype="String">
              {{#select data.keywords.faction_main}}
                <option value=""></option>
                <option value="Aeldari - Craftwords">Aeldari - Craftwords</option>
                <option value="Aeldari - Drukhari">Aeldari - Drukhari</option>
                <option value="Aeldari - FW Corsairs">Aeldari - FW Corsairs</option>
                <option value="Aeldari - Harlequins">Aeldari - Harlequins</option>

                <option value="Chaos - Chaos Knights">Chaos - Chaos Knights</option>
                <option value="Chaos - Chaos Space Marines">Chaos - Chaos Space Marines</option>
                <option value="Chaos - Daemons">Chaos - Daemons</option>
                <option value="Chaos - Death Guard">Chaos - Death Guard</option>
                <option value="Chaos - Gallerpox Infected">Chaos - Gallerpox Infected</option>
                <option value="Chaos - Renegades & Heretics">Chaos - Renegades & Heretics</option>
                <option value="Chaos - Servants of the Abyss">Chaos - Servants of the Abyss</option>
                <option value="Chaos - Thousands Sons">Chaos - Thousands Sons</option>
                <option value="Chaos - Titanicus Traitoris">Chaos - Titanicus Traitoris</option>

                <option value="Fallen">Fallen</option>

                <option value="Imperium - Adepta Sororitas">Imperium - Adepta Sororitas</option>
                <option value="Imperium - Adeptus Astra Telephatica">Imperium - Adeptus Astra Telephatica</option>
                <option value="Imperium - Adeptus Custodes">Imperium - Adeptus Custodes</option>
                <option value="Imperium - Adeptus Mechanicus">Imperium - Adeptus Mechanicus</option>
                <option value="Imperium - Adeptus Titanicus">Imperium - Adeptus Titanicus</option>
                <option value="Imperium - Astra Militarum">Imperium - Astra Militarum</option>
                <option value="Imperium - Blackstone Fortress">Imperium - </option>
                <option value="Imperium - Blood Angels">Imperium - Blood Angels</option>
                <option value="Imperium - Dark Angels">Imperium - Dark Angels</option>
                <option value="Imperium - Death Korps of Krieg">Imperium - Death Korps of Krieg</option>
                <option value="Imperium - Deathwatch">Imperium - Deathwatch</option>
                <option value="Imperium - Elucidian Starstriders">Imperium - Elucidian Starstriders</option>
                <option value="Imperium - Elysian Drop Troops">Imperium - Elysian Drop Troops</option>
                <option value="Imperium - Grey Knights">Imperium - Grey Knights</option>
                <option value="Imperium - Imperial Knights">Imperium - Imperial Knights</option>
                <option value="Imperium - Inquisition">Imperium - Inquisition</option>
                <option value="Imperium - Legion of the Damned">Imperium - Legion of the Damned</option>
                <option value="Imperium - Oficio Assassinorum">Imperium - Oficio Assassinorum</option>
                <option value="Imperium - Sisters of Silence">Imperium - Sisters of Silence</option>
                <option value="Imperium - Space Marines">Imperium - Space Marines</option>
                <option value="Imperium - Space Wolves">Imperium - Space Wolves</option>

                <option value="Necrons">Necrons</option>

                <option value="Orks">Orks</option>

                <option value="T'au Empire">T'au Empire</option>

                <option value="Tyranids">Tyranids</option>
                <option value="Tyranids - Genestealer Cults">Tyranids - Genestealer Cults</option>

                <option value="Unaligned - Monsters and Gribblies">Unaligned - Monsters and Gribblies</option>
              {{/select}}
              </select>  
            </li> 
          </ol>
    </section>
</form>
